---
import { Icon } from "astro-icon";
---

<span class="text-xs xs:text-base duration-500"
  >parallelized @ shriteq 2023 | <a
    aria-label="Discord Server"
    class="icon-outer"
    href="https://ls.parallelized.in/discord"
    target="_blank"
    rel="norefferer noopener"
    ><Icon class="icon" name="ic:baseline-discord" /></a
  >
  <a
    aria-label="GitHub"
    class="icon-outer"
    href="https://github.com/parallelized"
    target="_blank"
    rel="norefferer noopener"
  >
    <Icon class="icon" name="mdi:github" />
  </a>
</span>

<style>
  .icon-outer {
    @apply opacity-80 relative bottom-[0.5px];
  }
  .icon {
    @apply w-4 xs:w-6 inline-block duration-500 hover:duration-200 dark:hover:text-orange-500 hover:text-blue-500;
  }
</style>
