---
interface Props {
  title: string;
  bodyClass?: string;
}

import "../base.css";
import { ViewTransitions } from "astro:transitions";
const { title, bodyClass = "" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <slot name="headTop" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
      rel="preload"
      as="style"
    />
    <script is:inline>
    function setTheme() {
      localStorage.setItem(
        "theme",
        localStorage.getItem("theme")
          ? localStorage.getItem("theme")
          : window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light"
      );
      localStorage.getItem("theme") !== "dark" &&
        document.documentElement.classList.remove("dark");
    }
    setTheme();
    document.addEventListener("astro:after-swap", () => {
      setTheme();
    });
    </script>

    <title>{title}</title>
    <ViewTransitions fallback="swap" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-BDHE6RR412"></script>
    <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-BDHE6RR412");
    </script>
  </head>
  <!-- Google tag (gtag.js) -->

  <body
    class={"bg-[#faf9f6] dark:bg-gray-900 transition-colors duration-500 font-mono " +
      bodyClass}
  >
    <slot />
  </body>
</html>
